*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    overflow-y:auto;
    overflow-x: hidden;
}

table, tr, td{
    padding:5px;
    border-collapse: collapse;
}
header{
    margin-bottom: 3.5rem;
}
.navbar{
    background-color: black;
    position: sticky;
    left: 0;
    top: 0;
    height:100px;
    font-size: 20px;
}
ul{
    width:50%;
}
li{
    padding-left: 5%;
}
.logo{
    color: white;
}
li{
    color: white !important;
    text-decoration: none;
    
}
#categoryselect{
    transform: translateY(10px);
    color: white;
    background-color: black;
    border:none;
}
i{
    /* background-color: white; */
    color: white;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: #000000;
}
footer p , h6{
    color: white;
}
h6{
    font-weight: bold;
}