*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-y:auto;
    overflow-x: hidden;
    background-color: #ccc;
}
form {
    width: 60%;
    margin: 10% auto;
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 2%;
    background-color: rgb(109, 109, 109);
}
input{
    width:80%;
    margin:1%;
    padding: 2%;
    height: 40px;
    background-color: #f2f2f5;
    color:#301362;
    border: 3px solid #a3a4a7;
    border-radius: 10px;
}
input:hover,select:hover,textarea:hover{
    border:2px solid #301362 ;
    background-color: rgb(186, 186, 206);
}

#submitBtn{
    background-color:rgb(36, 36, 39);
    color: white;
    padding:0;
    font-size: 20px;
    font-weight: bolder;
}
#submitBtn:hover {
    width:85%;
    font-size: 22px;
    color: rgb(34, 34, 97);
    background-color:#dfdfdf;;
    box-shadow: 2px 2px 10px white;
    transition: all .5s ease-in-out;
}
p {
    display: none;
}
.valid {
    color: rgb(181, 255, 181);
    text-align: center;
}
.valid:before {
    content: "✔ ";
    text-align: center;
}
.invalid {
    color: rgb(251, 189, 189);
    text-align: center;
}
.invalid:before {
    content: "✖ ";
    text-align: center;
}