*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    overflow-y:auto;
    overflow-x: hidden;
}
.view{
    border: 2px solid #301362;
    margin:1%;
    width:30%;
    padding:0.5%;
    display: flex;
    justify-content: space-between;
}
.edit{
    border: 2px solid #301362;
    margin:1%;
    width:30%;
    padding:0.5%;
}
.valid {
    color: rgb(181, 255, 181);
    /* text-align: center; */
}
.valid:before {
    content: "✔ ";
    /* text-align: center; */
}
.invalid {
    color: rgb(251, 189, 189);
    /* text-align: center; */
}
.invalid:before {
    content: "✖ ";
    /* text-align: center; */
}
/* ________________new __________________*/
body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
/* ________________new End__________________*/

/* ________________ start navbar ____________*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
    text-decoration: none;
}
header{
    margin-bottom: 3.5rem;
}
.navbar{
    background-color: black;
    position: sticky;
    left: 0;
    top: 0;
    height:100px;
    font-size: 20px;
}
ul{
    width:50%;
}
li{
    padding-left: 5%;
}
.logo{
    color: white;
}
li{
    color: white !important;
    text-decoration: none;
    
}
#categoryselect{
    transform: translateY(10px);
    color: white;
    background-color: black;
    border:none;
}
i{
    /* background-color: white; */
    color: white;
}
#productCard{
    margin-top: 8%;
}

@media(min-width: 280px) and (max-width: 1800px){
    .container{
        max-width: 100% !important;
    }
    
}
@media(min-width: 280px) and (max-width: 800px){
   
}

@media(min-width: 280px) and (max-width: 780px){
  
}
/* ________________new End__________________*/
.mann{
    width: 75% ;
    margin: 0 auto;
    margin-top: 10%;
}

/* ________________ start __________________*/

/* ________________new End__________________*/


/* ________________ start __________________*/

/* ________________new End__________________*/